 /* code du footer contact*/


#i6ar3{
    background-color:rgba(0,0,0,0.75);
    margin:1px 0 0 0;
    bottom:0;
    text-align:center;
    position:absolute;
    width:100%;
  }
  #i1y8u{
    display:inline-block;
    padding:5px;
    min-height:1rem;
    min-width:50px;
  }
  #ikodh{
    display:inline-block;
    padding:5px;
    min-height:1rem;
    min-width:50px;
  }
  #i104b{
    color:#eee444;
  }
  #i3sfk{
    color:#eee444;
  }

  /* test */

 .navbar-menu li a{
  color: white;
 }
  